/* Main */

.log-output {
  background: black;
  color: white;
  margin: 20px 0;
  padding: 1rem;
  white-space: pre-wrap;
  @include courier;
}

a.disabled {
 pointer-events: none;
 cursor: default;
 color: #CCC;
}
